<settings>
    <servers>
        <server>
            <id>central</id>
            <configuration>
                <httpConfiguration>
                    <all>
                        <params>
                            <param>
                                <name>http.protocols</name>
                                <value>SSLv3,TLSv1,TLSv1.1,TLSv1.2</value>
                            </param>
                            <param>
                                <name>https.protocols</name>
                                <value>SSLv3,TLSv1,TLSv1.1,TLSv1.2</value>
                            </param>
                        </params>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
    </servers>
</settings>
